<div class="col">
  <div class="card m-3 border-info" style="width: 18rem; height: 250px;">
    <div class="card-header bg-transparent border-info"> <%= box.name %> </div>
    <div class="card-body text-info ">
      <h5 class="card-title">Enter Box</h5>
      <h5 class="card-title">Items: 0</h5>
    </div>
    <div class="card-footer bg-transparent border-info">Created: <%= time_ago_in_words(box.created_at) %> ago by <%= box.user.email %> </div>
  </div>
</div>
