<li class="mr-3">
  <%= link_to("Invite User", new_user_invitation_path, class: "form-inline btn btn-outline-warning")%>
</li>
<li class="mr-3">
  <%= link_to("Billing", new_user_invitation_path, class: "form-inline btn btn-outline-secondary")%>
</li>
