
<li>
  <p>
  <%= get_current_account_name %>
  </p>
</li>
<li>
  <p>
  <%= display_tenants_helper(current_user) %>
  </p>
</li>
<li>
  <p>
  <%= link_to("Sign out", destroy_user_session_path, method: :delete, class: "navbar-brand btn btn-outline-danger") %>
  </p>
</li>
