<div class="col-lg-4">
  <div class="card mb-5 mb-lg-0">
    <div class="card-body">
      <h5 class="card-title text-muted text-uppercase text-center"><%= name %></h5>
      <h6 class="card-price text-center">$<%= price %><span class="period">/month</span></h6>
      <hr>
      <ul class="fa-ul">
        <li><span class="fa-li"><i class="fas fa-check"></i></span><strong><%= description %></strong></li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited users</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited storage</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>QR code logic per box</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited items per box</li>
        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Dedicated Phone Support</li>
      </ul>
    </div>
  </div>
</div>
