  <div class="field">
    <%= form.label :description %><br />
    <%= form.text_field :description, class: "form-control" %>
  </div>
  <div class="field">
    <%= form.label :picture %><br />
    <%= form.file_field :picture, class: "form-control" %>
  </div>
